<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Technomantra-Quiz</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>instruction_Page.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DatabaseAnswerServlet</display-name>
    <servlet-name>DatabaseAnswerServlet</servlet-name>
    <servlet-class>com.controller.DatabaseAnswerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseAnswerServlet</servlet-name>
    <url-pattern>/DatabaseAnswerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DatabaseQuizResultServlet</display-name>
    <servlet-name>DatabaseQuizResultServlet</servlet-name>
    <servlet-class>com.controller.DatabaseQuizResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseQuizResultServlet</servlet-name>
    <url-pattern>/DatabaseQuizResultServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DatabaseQuizServlet</display-name>
    <servlet-name>DatabaseQuizServlet</servlet-name>
    <servlet-class>com.controller.DatabaseQuizServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseQuizServlet</servlet-name>
    <url-pattern>/DatabaseQuizServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionListServlet</display-name>
    <servlet-name>QuestionListServlet</servlet-name>
    <servlet-class>com.controller.QuestionListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionListServlet</servlet-name>
    <url-pattern>/QuestionListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionServlet</display-name>
    <servlet-name>QuestionServlet</servlet-name>
    <servlet-class>com.controller.QuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionServlet</servlet-name>
    <url-pattern>/QuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuizInsertServlet</display-name>
    <servlet-name>QuizInsertServlet</servlet-name>
    <servlet-class>com.controller.QuizInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuizInsertServlet</servlet-name>
    <url-pattern>/QuizInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuizListServlet</display-name>
    <servlet-name>QuizListServlet</servlet-name>
    <servlet-class>com.controller.QuizListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuizListServlet</servlet-name>
    <url-pattern>/QuizListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.controller.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogoutServlet</display-name>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <servlet-class>com.controller.AdminLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <url-pattern>/AdminLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBResultServlet</display-name>
    <servlet-name>DBResultServlet</servlet-name>
    <servlet-class>com.controller.DBResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBResultServlet</servlet-name>
    <url-pattern>/DBResultServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBQuizCheckAnswer</display-name>
    <servlet-name>DBQuizCheckAnswer</servlet-name>
    <servlet-class>com.controller.DBQuizCheckAnswer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBQuizCheckAnswer</servlet-name>
    <url-pattern>/DBQuizCheckAnswer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuizVisibleServlet</display-name>
    <servlet-name>QuizVisibleServlet</servlet-name>
    <servlet-class>com.controller.QuizVisibleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuizVisibleServlet</servlet-name>
    <url-pattern>/QuizVisibleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuizInVisibleServlet</display-name>
    <servlet-name>QuizInVisibleServlet</servlet-name>
    <servlet-class>com.controller.QuizInVisibleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuizInVisibleServlet</servlet-name>
    <url-pattern>/QuizInVisibleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteQuestionServlet</display-name>
    <servlet-name>DeleteQuestionServlet</servlet-name>
    <servlet-class>com.controller.DeleteQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteQuestionServlet</servlet-name>
    <url-pattern>/DeleteQuestionServlet</url-pattern>
  </servlet-mapping>
</web-app>